<!-- <input type="text" [attr.placeholder]="placeholder" >
<button (click)="togglePlaceHolder()" > toggle placeholder</button>
<p appHighlight>Highlight me!</p> -->



<div class="container well content">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="pull-left section-title">

				<span>Select From Book Lists</span>
				
			</h2>
		</div>
	</div>
	
	<input type="text" class="form-control" placeholder="filter by" ngModel="query">
	<div class="well" style="overflow-x: auto;" >
	    <table class="table">
	      <thead>
	    
	        <tr>
	          <th>#</th>
	          <th>Author</th>
	          <th>Tittle</th>
	          <th>Type</th>
	          <th>Total Copies</th>
	          <th>Editions</th>
	          <th>ISBN </th>
	          <th>Publication Date</th>
	          <th>RegistrationDate</th>
	          <th>genre</th>
	           <th>Payment Mode</th>
	           <th>Category</th>
	           
	          <th style="width: 36px;"></th>
	        </tr>
	      </thead>
	      <tbody>
			<!-- <div *ngIf="getUnrentedBooks">
				<h2>Data from the API:</h2>
				<pre>{{ getUnrentedBooks | json }}</pre>
				</div> -->
			<!-- <tr *ngFor="let m of getUnrentedBooks">
            <td>{{m.title}} </td>
        </tr> -->
		<tr *ngFor="let m of getUnrentedBooks;let index = index">
	        <!-- <tr ng-repeat="m in getUnrentedBooks | filter:query"> -->
	          <td>{{index +1}}</td>
	          <td>{{m.author}} </td>
	          <td>{{m.title}}</td>
	          <td>{{m.type}}</td>
	           <td>{{m.numberOfCopies}}</td>
	           <td>{{m.edition}}</td>
	           <td>{{m.iSBN}}</td>
	           <td>{{m.publicationDate}}</td>
	           <td>{{m.registrationDate}}</td>
	           <td>{{m.genre}}</td>
	          <td>{{m.paymentMode}}</td> 
	          <td>{{m.category}}</td>
	          
	           <td>
	           
	           </td>
	           <td>
				<!-- <a [routerLink]="['/medicalRequest/request/medical', m.id, m.category, m.paymentMode]"  -->
	           <!-- <a href="#/medicalRequest/request/medical/{{m.id}}/{{m.category}}/{{m.paymentMode}}"  class="btn btn-primary pull-right btn-sm" style="padding: 5px 10px; font-size: 10px; ">Request</a> -->
			   <a [routerLink]="['/dashboard/rent/', m.id]" 
			   class="btn btn-primary pull-right btn-sm" 
			   style="padding: 5px 10px; font-size: 10px;">
			   Request
			</a>
	           </td>
	           </tr>
	      </tbody>
	    </table>
	</div>
 
</div>
